@model IEnumerable<Chacrutaria.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Produtos</h1>

<p style="font-size: 16px">
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("Descrição")
            </th>
            <th>
                @Html.DisplayName("Destaque")
            </th>
            <th>
                @Html.DisplayName("Tem Estoque")
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarneDestaque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemEstoque)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutoId">Consultar</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
