@model IEnumerable<VendasWebMVC.Models.Department>

@{
    ViewData["Title"] = "Index";
}

@*<img src="images/sales-figure.jpg" alt="Minha imagem de teste">*@
@*<div style="background-image:url(images/sales-figure.jpg)"></div>*@

<body>

    <h2>Vendas WEB</h2>
   
    <p>
        <a asp-action="Create">Novo</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Name)*@
                    @Html.Label("Nome")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <img src="sales-figure.jpg" />
    </div>

</body>