@model IEnumerable<Chacrutaria.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Create">Incluir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Pedido")
            </th>
            <th>
                @Html.DisplayName("Data do Pedido")
            </th>
            <th>
                @Html.DisplayName("Entregue Em")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoId)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DataHoraPedido)
            </td>
            <td>
                @Html.DisplayNameFor(model => item.DtaPedidoEntregueEm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PedidoId">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.PedidoId">Apagar</a>
                <a asp-action="PedidoProduto" asp-route-id="@item.PedidoId">Ver Produtos</a>
            </td>
        </tr>
}
    </tbody>
</table>
