
@model CarrinhoCompraViewModel

<div class="row form-check">

    <h2 class="text-center">Cesta de Compras</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="500px">Item</th>
                <th width="50px">Quantidade</th>
                <th class="text-right" width="150px">Preço</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.CarrinhoCompra.CarrinhoCompraItems)
            {
            <tr>
                <td>@item.Produto.Nome</td>
                <td class="text-center">@item.QtdeItens</td>
                <td class="text-right">@item.Produto.Preco.ToString("c")</td>
                <td class="text-right">@((item.QtdeItens * item.Produto.Preco).ToString("c"))</td>

                <td class="text-center" width="40px">
                    <a asp-controller="CarrinhoCompra" asp-action="RemoverItemCarrinhoCompra" asp-route-produtoId="@item.Produto.ProdutoId"><img src="~/images/delete.png" /></a>
                </td>
                <td class="text-center" width="40px">
                    <a asp-controller="CarrinhoCompra" asp-action="AdicionarItemCarrinhoCompra" asp-route-produtoId="@item.Produto.ProdutoId"><img src="~/images/icon-add-basket.png" /></a>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.TotalCarrinho.ToString("c")</td>
        </tfoot>
    </table>

    <div class="text-left">
        <div class="btn-group">
            <a class="btn btn-success" asp-controller="CarrinhoCompra" asp-action="RetornarInicio">Voltar a comprar</a>
            <a class="btn btn-danger" asp-controller="Pedido" asp-action="Checkout">Finalizar Pedido</a>
        </div>

    </div>

</div>

